:host {
  height: inherit;
  width: inherit;

  // left side of the screen
  #login-left {
    background: #adadad;
    background: linear-gradient(45deg, #adadad 0%, #f3f3f3 50%, white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adadad', endColorstr='#ffffff',GradientType=1 );
    -webkit-box-shadow: 2px 0px 5px 0px rgba(29, 29, 29, 0.5);
    -moz-box-shadow: 2px 0px 5px 0px rgba(29, 29, 29, 0.5);
    box-shadow: 2px 0px 3px 0px rgba(29, 29, 29, 0.5);
    z-index: 10;
  }

  #login-left-top {
    height: calc(100% - 30px);
  }

  #logo {
    height: 80px;
  }

  #text-top {
    font-family: "Raleway";
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 14pt;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.6);
    color: #6b6b6b;
  }

  #text-bottom {
    font-family: "Raleway";
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14pt;
    font-weight: 300px;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.6);
    color: #2b86ca;
  }

  #version {
    font-size: x-small;
    font-family: "Open Sans";
    text-transform: uppercase;
    font-weight: 700;
  }

  #version span {
    color: #257ec2;
  }

  // right side of the screen
  #login-right {
    background: #00335d;
    background: linear-gradient(45deg, #00335d 0%, #3f9fe4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00335d', endColorstr='#3f9fe4',GradientType=1 );
  }

  // carousel
  ngx-siema {
    height: 100%;
    width: 50%;
  }

  .slide-col {
    left: 17%;
  }

  #sign-in-label {
    font-family: "Raleway";
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgb(97, 97, 97);
    color: #fcfcfc;
    font-size: 20pt;
  }

  .login-input {
    width: 75%;
    text-align: center;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #ffffff30;
    color: white;
    padding-bottom: 10px;
    padding-left: 61px;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 100;
  }

  .login-input:focus {
    outline: none;
  }

  .login-span {
    position: absolute;
    font-family: "Raleway";
    font-size: 12px;
    color: #e6e6e6;
    padding-top: 0px;
    transition: color 0.2s ease-in-out;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.26);
  }

  #username-box:focus + #username-label,
  #password-box:focus + #password-label,
  #register-username-box:focus + #register-username-label,
  #register-password-box:focus + #register-password-label {
    color: #6fd2ff;
  }

  // remember me and its related checkbox/label alterations
  #remember-me {
    padding-left: 3px;
    padding-top: 10px;
  }

  .login-button {
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 5px;
    background: transparent;
    border: 2px solid #3a96d9;
    color: #6fd2ff;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    font-family: "Raleway";
    font-weight: 400;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.26);
    &:hover {
      color: white;
      background: #0c4877;
    }
    &:active {
      //letter-spacing: 2px;
      letter-spacing: 2px;
    }
    &:after {
      font-family: "Font Awesome 5 Pro";
      font-weight: 400;
      font-size: 20px;
      text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.26);
      content: "\f2f6";
    }
  }

  #register-button::after {
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    font-size: 20px;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.26);
    content: "\f234";
  }

  .onclick {
    width: 40px !important;
    border-color: #0c4877 !important;
    border-width: 3px !important;
    font-size: 0 !important;
    border-left-color: #3a96d9 !important;
    border-radius: 40px !important;
    animation: rotating 1s 0.25s linear infinite;

    &:after {
      content: "" !important;
    }
    &:hover {
      color: transparent;
      background: transparent;
    }
  }

  .validate-success {
    font-size: 20px !important;
    color: #08ce08 !important;
    border: none !important;
    background: transparent !important;
    &:after {
      font-family: "FontAwesome" !important;
      content: "\f00c" !important;
    }
  }

  .validate-failure {
    font-size: 20px !important;
    color: indianred !important;
    font-weight: 400;
    border: none !important;
    background: transparent !important;
    &:after {
      font-family: "Font Awesome 5 Pro" !important;
      content: "\f00d" !important;
    }
  }

  .register-validate {
    font-size: 20px !important;
    color: #08ce08 !important;
    border: none !important;
    background: transparent !important;
    &:after {
      font-family: "FontAwesome" !important;
      content: "\f00c" !important;
    }
  }

  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  #help-row {
    text-align: center;
    font-family: "Raleway";
    color: azure;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.26);
  }

  #register-feedback {
    font-family: "Raleway";
    font-size: 12px;
    color: white;
  }

  .help-text {
    font-size: 12px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
  }

  .help-text:hover {
    color: #6fd2ff;
  }

  .help-divider {
    font-size: 6px;
    vertical-align: 5px;
    padding-left: 6px;
    color: #232323;
  }

  /* Change Autocomplete styles in Chrome*/
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
  }

  @keyframes autofill {
    100% {
      background: transparent;
      color: white;
    }
  }

  @-webkit-keyframes autofill {
    100% {
      background: transparent;
      color: white;
    }
  }
}
