<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-5" id="login-left">
            <div class="row align-items-center justify-content-center" id="login-left-top">
                <div class="col">
                    <div class="row justify-content-center pb-3">
                        <img [src]="logo" id="logo">
                    </div>
                    <div class="row justify-content-center">
                        <div id="text-top">Certification</div>
                    </div>
                    <div class="row justify-content-center">
                        <div id="text-bottom">Manager</div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <div id="version">© 2018 IT4Offices |
                    <span>{{version}}</span>
                </div>
            </div>
        </div>
        <div class="col-7" id="login-right">
            <div class="row align-items-center justify-content-center h-100" id="login-left-top">
                <div class="col">
                    <!-- <div class="row justify-content-center"> -->
                    <!-- <button (click)="slideSelect('.siema', 0)">prev</button> -->
                    <!-- <button (click)="next('.siema')">next</button> -->
                    <!-- </div> -->
                    <div class="row justify-content-center pb-3">
                        <ngx-siema [options]="carouselOptions">
                            <ngx-siema-slide>
                                <div class="col slide-col">
                                    <div class="row pb-4">
                                        <div id="sign-in-label">Sign In</div>
                                    </div>
                                    <form [formGroup]="credentials">
                                        <div class="row pb-4" style="padding-left: 2px;">
                                            <input type="text" id="username-box" class="login-input" name="username" formControlName="username" required autofocus="true">
                                            <span class="login-span" id="username-label" style="top:66px;">username</span>
                                        </div>
                                        <div class="row" style="padding-left: 2px;">
                                            <input type="password" id="password-box" class="login-input" name="password" formControlName="password" required>
                                            <span class="login-span" id="password-label" style="top:121px;">password</span>
                                        </div>
                                    </form>
                                    <div class="row pb-5">
                                        <p-checkbox id="remember-me" [(ngModel)]="rememberMe" binary="true" label="Keep me signed in"></p-checkbox>
                                    </div>
                                    <div class="row pb-5">
                                        <div class="flex justify-content-center" style="width: 76%;">
                                            <button id="login-button" class="login-button" (click)="login($event)"></button>
                                        </div>
                                    </div>
                                    <div class="row" id="help-row">
                                        <div class="flex justify-content-center" style="width: 76%">
                                            <div class="col-5 p-0 help-text">Forgotten Details</div>
                                            <div class="col-2 p-0">
                                                <i class="fas fa-circle help-divider"></i>
                                            </div>
                                            <div class="col-5 p-0 help-text" (click)="slideSelect('.siema', 1)">Not registered?</div>
                                        </div>
                                    </div>
                                </div>
                            </ngx-siema-slide>
                            <ngx-siema-slide>
                                <div class="col slide-col">
                                    <div class="row pb-4">
                                        <div id="sign-in-label">Register</div>
                                    </div>
                                    <div class="row pb-4" style="padding-left: 2px;">
                                        <input type="text" id="register-username-box" class="login-input" required autofocus="true" autocomplete="nope">
                                        <span class="login-span" id="register-username-label" style="top:66px;">username</span>
                                    </div>
                                    <div class="row" style="padding-left: 2px;">
                                        <input type="password" id="register-password-box" class="login-input" required autocomplete="new-password">
                                        <span class="login-span" id="register-password-label" style="top:121px;">password</span>
                                    </div>
                                    <div class="row pb-4" style="padding-top: 45px;">
                                        <div class="flex justify-content-center" style="width: 76%">
                                            <div class="col p-0" id="register-feedback" *ngIf="regSuccess === true">
                                                <div [@fadeInAnimation] class="text-center">Success! Taking you back to the sign in form</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pb-5">
                                        <div class="flex justify-content-center" style="width: 76%;">
                                            <button id="register-button" class="login-button" (click)="register($event)"></button>
                                        </div>
                                    </div>
                                    <div class="row" id="help-row">
                                        <div class="flex justify-content-center" style="width: 76%">
                                            <div class="col p-0 help-text" (click)="slideSelect('.siema', 0)">Already have an account?</div>
                                        </div>
                                    </div>
                                </div>
                            </ngx-siema-slide>
                        </ngx-siema>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <div id="help"></div>
            </div>
        </div>
    </div>
</div>